.strategies {
	padding: 30px 0;
}

.strategies__title {
	margin: 0 0 14px;
}

.strategies__description {
	color: $color-text;
	margin: 0 0 24px;
}

.strategies__tags {
	margin-bottom: 31px;
}

.block-shadowed {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}